@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */
.font-aviano-bold {
  font-family: var(--font-aviano-bold);
}

.font-aviano-regular {
  font-family: var(--font-aviano-regular);
}

.font-outfit-sans {
  font-family: var(--font-outfit-sans);
}

/*Custom Scrollbar */

::-webkit-scrollbar {
  height: 12px;
  width: 6px;
  background: rgb(199, 199, 199);
}

::-webkit-scrollbar-thumb {
  background: #000000;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgb(199, 199, 199);
}

.nav-item {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 1.125rem; /* Base font size for larger screens */
  cursor: pointer;
  padding-bottom: 0.25rem;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-item.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Responsive Font Sizes */
@media (max-width: 1024px) {
  /* For tablets */
  .nav-item {
    font-size: 1rem; /* Slightly smaller */
  }
}

@media (max-width: 768px) {
  /* For mobile devices */
  .nav-item {
    font-size: 0.875rem; /* Smaller font size for smaller screens */
  }
}
